@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <strong>  <h2 class="display-4">Askar Online Kütüphane  </h2></strong>
    <br />

    <p> <<img src="/img/kütüphane.jpg"/></p>
    
   
</div>
