<div class="text-center">
@{
    ViewData["Title"] = "İletişim Bilgileri";
}
<h1>@ViewData["Title"]</h1>


<br />
<h3>Adresimiz</h3>
<h4>Yunus Emre mah no:21</h4>
<h4>Tokat Erbaa</h4>
    <h3>E-posta adresimiz:</h3>
<h4>Online60@gmail.com.tr</h4>
</div>